{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.1",
    "title": "CoinGecko API",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://pro-api.coingecko.com/api/v3",
      "description": "Pro API server"
    },
    {
      "url": "https://api.coingecko.com/api/v3",
      "description": "Public API server"
    }
  ],
  "paths": {
    "/coins/list": {
      "get": {
        "summary": "List all coins",
        "operationId": "fetchCoinList",
        "tags": ["coins"],
        "responses": {
          "200": {
            "description": "A list of all coins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinList"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}": {
      "get": {
        "summary": "Get information for a specific coin",
        "operationId": "fetchCoinById",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coin"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/markets": {
      "get": {
        "summary": "List all markets",
        "operationId": "fetchCoinMarkets",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of market data (usd, eur, jpy, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort results by market cap, volume, etc.",
            "schema": {
              "type": "string",
              "default": "market_cap_desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/tickers": {
      "get": {
        "summary": "Get all tickers for a specific coin",
        "operationId": "fetchCoinTickers",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve tickers for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerList"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/history": {
      "get": {
        "summary": "Get historical data for a specific coin",
        "operationId": "fetchCoinHistory",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve historical data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date for historical data in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical data for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinHistory"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart": {
      "get": {
        "summary": "Get market chart data for a specific coin",
        "operationId": "fetchCoinMarketChart",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve market chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of market data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "The number of days of market chart data to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market chart data for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart/range": {
      "get": {
        "summary": "Get market chart data within a range for a specific coin",
        "operationId": "fetchCoinMarketChartRange",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve market chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of market data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The start date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The end date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market chart data within the specified range for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketChartRange"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/ohlc": {
      "get": {
        "summary": "Get OHLC (Open, High, Low, Close) data for a specific coin",
        "operationId": "fetchCoinOHLC",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve OHLC data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of OHLC data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "The number of days of OHLC data to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLC"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/ohlc/range": {
      "get": {
        "summary": "Get OHLC data within a range for a specific coin",
        "operationId": "fetchCoinOHLCRange",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve OHLC data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of OHLC data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The start date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The end date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data within the specified range for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLC"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/circulating_supply_chart": {
      "get": {
        "summary": "Get circulating supply chart data for a specific coin",
        "operationId": "fetchCoinCirculatingSupplyChart",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve circulating supply chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of circulating supply data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "The number of days of circulating supply data to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circulating supply chart data for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CirculatingSupplyChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/circulating_supply_chart/range": {
      "get": {
        "summary": "Get circulating supply chart data within a range for a specific coin",
        "operationId": "fetchCoinCirculatingSupplyChartRange",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve circulating supply chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of circulating supply data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The start date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The end date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circulating supply chart data within the specified range for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CirculatingSupplyChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/total_supply_chart": {
      "get": {
        "summary": "Get total supply chart data for a specific coin",
        "operationId": "fetchCoinTotalSupplyChart",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve total supply chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of total supply data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "The number of days of total supply data to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total supply chart data for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalSupplyChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/total_supply_chart/range": {
      "get": {
        "summary": "Get total supply chart data within a range for a specific coin",
        "operationId": "fetchCoinTotalSupplyChartRange",
        "tags": ["coins"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the coin to retrieve total supply chart data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "The target currency of total supply data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The start date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The end date in UNIX timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total supply chart data within the specified range for the coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalSupplyChart"
                }
              }
            }
          }
        }
      }
    },
    "/simple/price": {
      "get": {
        "summary": "Get the current price of one or more cryptocurrencies",
        "operationId": "fetchSimplePrice",
        "tags": ["simple"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "A comma-separated list of coin IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs_currencies",
            "in": "query",
            "required": true,
            "description": "A comma-separated list of target currencies",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current price data for the specified coins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "price": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "summary": "List all supported networks",
        "operationId": "fetchNetworksList",
        "tags": ["networks"],
        "responses": {
          "200": {
            "description": "A list of all supported networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "chain": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-cg-pro-api-key"
      }
    },
    "schemas": {
      "Coin": {
        "type": "object",
        "required": ["id", "symbol", "name"],
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CoinList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Coin"
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "current_price": {
            "type": "number"
          },
          "market_cap": {
            "type": "number"
          },
          "total_volume": {
            "type": "number"
          }
        }
      },
      "TickerList": {
        "type": "object",
        "properties": {
          "tickers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "market": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "base": {
                  "type": "string"
                },
                "target": {
                  "type": "string"
                },
                "last": {
                  "type": "number"
                },
                "volume": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "CoinHistory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "market_data": {
            "type": "object",
            "properties": {
              "current_price": {
                "type": "object",
                "properties": {
                  "usd": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "MarketChart": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "market_caps": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "total_volumes": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "MarketChartRange": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "market_caps": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "total_volumes": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "OHLC": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      },
      "CirculatingSupplyChart": {
        "type": "object",
        "properties": {
          "circulating_supply": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "TotalSupplyChart": {
        "type": "object",
        "properties": {
          "total_supply": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
